!!!
%html
  %head
    %title Cibus
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css", :rel => "stylesheet"}/
  %body  
    %ul.navbar
      %li.logo
        = link_to 'Logo', root_path
      %li.headline Cibus
      %li.login
        = link_to 'Login', root_path
      %li.signup  
        = link_to 'Signup', root_path
    
    #notifications
      = alert 
      = notice
    = yield